@themeColor: #f39800;

/* 标题 */
.title-all {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 3px;

  span {
    font-size: 16px;
    font-weight: 600;
  }

  a {
    font-size: 14px;
    color: #acacac;
    line-height: 28px;
  }
}

/* 主体内容内边距 */
.containwe-padding {
  padding: 0 18px;
}

/* 下划线 */
.bor {
  height: 1px;
  margin: 20px 0;
  background-color: rgb(235, 237, 240);
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}